trumpeter/
.ipynb_checkpoints/
*/.ipynb_checkpoints/
*/*/.ipynb_checkpoints/
*/*/*/.ipynb_checkpoints/
*/*/*/*/.ipynb_checkpoints/

*.json
*.pyc
*.csv
*.txt
*.html
*.xlsx

sport/jamie-running.ipynb

!eurostat_population_structure/original_data

WDPA_WDOECM_wdpa_csv/
unesco*
